<html>
<head>
  <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" rel="stylesheet"/>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
  <link rel="stylesheet" href="../css/dichvu.css">
</head>
 <body>
    <div class="service">
        <h2>Dịch vụ</h2>
    </div>
  <div class="container mt-5">
   <div class="row">
    <div class="col-md-3">
     <div class="card">
      <img alt="Veterinary care for pets" class="card-img-top" src="../img/service-01.jpg"/>
      <div class="card-body">
       <h5 class="card-title">
        Chăm sóc y tế
       </h5>
       <p class="card-text">
        Cung cấp kiểm tra sức khỏe định kỳ, tiêm phòng, và điều trị khác cho thú cưng của bạn.
       </p>
      </div>
     </div>
    </div>
    <div class="col-md-3">
     <div class="card">
      <img alt="Pet training and care" class="card-img-top" src="../img/service-01.jpg"/>
      <div class="card-body">
       <h5 class="card-title">
        Chăm sóc và huấn luyện
       </h5>
       <p class="card-text">
        Cung cấp kiểm tra sức khỏe định kỳ, tiêm phòng, và điều trị khác cho thú cưng của bạn.
       </p>
      </div>
     </div>
    </div>
    <div class="col-md-3">
     <div class="card">
      <img alt="Pet boarding and daycare" class="card-img-top" src="../img/service-01.jpg"/>
      <div class="card-body">
       <h5 class="card-title">
        Nơi ở và bảo mẫu
       </h5>
       <p class="card-text">
        Cung cấp kiểm tra sức khỏe định kỳ, tiêm phòng, và điều trị khác cho thú cưng của bạn.
       </p>
      </div>
     </div>
    </div>
    <div class="col-md-3">
     <div class="card">
      <img alt="Pet food and toys" class="card-img-top" src="../img/service-01.jpg"/>
      <div class="card-body">
       <h5 class="card-title">
        Thức ăn và đồ chơi
       </h5>
       <p class="card-text">
        Cung cấp kiểm tra sức khỏe định kỳ, tiêm phòng, và điều trị khác cho thú cưng của bạn.
       </p>
      </div>
     </div>
    </div>
   </div>
   <div class="row">
    <div class="col-md-3">
     <div class="card">
      <img alt="Pet spa and grooming" class="card-img-top" src="../img/service-01.jpg"/>
      <div class="card-body">
       <h5 class="card-title">
        Spa và làm đẹp
       </h5>
       <p class="card-text">
        Cung cấp kiểm tra sức khỏe định kỳ, tiêm phòng, và điều trị khác cho thú cưng của bạn.
       </p>
      </div>
     </div>
    </div>
    <div class="col-md-3">
     <div class="card">
      <img alt="Pet therapy and treatment" class="card-img-top" src="../img/service-01.jpg"/>
      <div class="card-body">
       <h5 class="card-title">
        Điều trị hành vi
       </h5>
       <p class="card-text">
        Cung cấp kiểm tra sức khỏe định kỳ, tiêm phòng, và điều trị khác cho thú cưng của bạn.
       </p>
      </div>
     </div>
    </div>
    <div class="col-md-3">
     <div class="card">
      <img alt="Pet consultation and support" class="card-img-top" src="../img/service-01.jpg"/>
      <div class="card-body">
       <h5 class="card-title">
        Tư vấn và hỗ trợ
       </h5>
       <p class="card-text">
        Cung cấp kiểm tra sức khỏe định kỳ, tiêm phòng, và điều trị khác cho thú cưng của bạn.
       </p>
      </div>
     </div>
    </div>
    <div class="col-md-3">
     <div class="card">
      <img alt="Pet events and socialization" class="card-img-top" src="../img/service-01.jpg"/>
      <div class="card-body">
       <h5 class="card-title">
        Sự kiện và giao lưu
       </h5>
       <p class="card-text">
        Cung cấp kiểm tra sức khỏe định kỳ, tiêm phòng, và điều trị khác cho thú cưng của bạn.
       </p>
      </div>
     </div>
    </div>
   </div>
  </div>
 </body>
</html>